(
    starfield: (
        bloom_intensity: 0.01,
        star_brightness: 0.7,
        star_density: 1.0,
        twinkle_amount: 1.0,
        layer_count: 16.0,
        edge_softness: 0.55,
        layers: ((
            parallax: 0.0,
            frequency: 2.5,
            density: 0.4,
            brightness: 0.6,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.00002,
            frequency: 1.8878101,
            density: 0.37428573,
            brightness: 0.6571429,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.00005,
            frequency: 1.4255308,
            density: 0.34857142,
            brightness: 0.71428573,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0001,
            frequency: 1.0764525,
            density: 0.32285714,
            brightness: 0.7714286,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0002,
            frequency: 0.8128551,
            density: 0.29714286,
            brightness: 0.82857144,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0005,
            frequency: 0.6138064,
            density: 0.27142859,
            brightness: 0.8857143,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.001,
            frequency: 0.46350002,
            density: 0.24571428,
            brightness: 0.94285715,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.002,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.004,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.008,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        ), (
            parallax: 0.0,
            frequency: 0.35,
            density: 0.22,
            brightness: 1.0,
            twinkle: 1.0,
            size: 0.3,
        )),
    ),
    hud: (
        energy: (
            x_center: -3.4,
            y_base: -4.6,
            extent: 3.0,
        ),
        heat: (
            x_center: 0.4,
            y_base: -4.6,
            extent: 3.6,
        ),
        afterburner: (
            x_center: 4.4,
            y_base: -4.6,
            extent: 3.2,
        ),
        shield: (
            x_center: -6.3,
            y_base: -4.6,
            extent: 2.5,
        ),
        armor: (
            x_center: -5.8,
            y_base: -4.6,
            extent: 2.5,
        ),
        hull: (
            x_center: -5.3,
            y_base: -4.6,
            extent: 2.5,
        ),
        readout_left_pct: 24.0,
        readout_width_pct: 14.0,
        readout_bottom_px: 46.0,
    ),
)