(
    bloom_intensity: 0.15,
    layer_count: 8.0,
    layers: ((
        parallax: 0.015,
        frequency: 2.5,
        density: 0.4,
        brightness: 0.6,
        size: 0.9,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.024384202,
        frequency: 1.8878101,
        density: 0.37428573,
        brightness: 0.6571429,
        size: 0.95714283,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.039639294,
        frequency: 1.4255308,
        density: 0.34857142,
        brightness: 0.71428573,
        size: 1.0142857,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.06443817,
        frequency: 1.0764525,
        density: 0.32285714,
        brightness: 0.7714286,
        size: 1.0714285,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.10475157,
        frequency: 0.8128551,
        density: 0.29714286,
        brightness: 0.82857144,
        size: 1.1285714,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.17028558,
        frequency: 0.6138064,
        density: 0.27142859,
        brightness: 0.8857143,
        size: 1.1857142,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.27681854,
        frequency: 0.46350002,
        density: 0.24571428,
        brightness: 0.94285715,
        size: 1.2428571,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    ), (
        parallax: 0.45,
        frequency: 0.35,
        density: 0.22,
        brightness: 1.0,
        size: 1.3,
        tint: (1.0, 1.0, 1.0),
        tint_strength: 0.0,
    )),
    galaxy: (
        band_angle: 0.35,
        band_width: 0.05,
        band_offset: -0.2,
        band_strength: 1.0,
        band_clumpiness: 1.0,
        haze_brightness: 0.01,
        haze_color: (0.7, 0.7800001, 1.0),
        dust_depth: 1.0,
        dust_scale: 0.01,
        dust_contrast: 0.0,
        core_along: 0.0,
        core_size: 0.25,
        core_brightness: 0.0,
        core_color: (1.0, 0.8499999, 0.6),
        core_density_boost: 0.0,
        glare_threshold: 2.0,
        glare_halo_size: 6.0,
        glare_halo_intensity: 0.3,
        glare_spike_len: 10.0,
        glare_spike_count: 4.0,
        glare_spike_intensity: 0.2,
        classes: ((
            weight: 76.45,
            temp_min: 2400.0,
            temp_max: 3500.0,
            brightness: 0.08,
            size: 0.7,
            tint: (1.0, 1.0, 1.0),
            clustering: 0.0,
            twinkle: 0.1,
            twinkle_speed: 0.4,
            softness: 0.4,
            mag_spread: 0.3,
        ), (
            weight: 12.1,
            temp_min: 3500.0,
            temp_max: 5000.0,
            brightness: 0.25,
            size: 0.9,
            tint: (1.0, 1.0, 1.0),
            clustering: 0.0,
            twinkle: 0.12,
            twinkle_speed: 0.4,
            softness: 0.4,
            mag_spread: 0.3,
        ), (
            weight: 7.6,
            temp_min: 5000.0,
            temp_max: 6000.0,
            brightness: 0.6,
            size: 1.0,
            tint: (1.0, 1.0, 1.0),
            clustering: 0.0,
            twinkle: 0.15,
            twinkle_speed: 0.5,
            softness: 0.5,
            mag_spread: 0.4,
        ), (
            weight: 3.0,
            temp_min: 6000.0,
            temp_max: 7500.0,
            brightness: 1.2,
            size: 1.3,
            tint: (1.0, 1.0, 1.0),
            clustering: 0.2,
            twinkle: 0.2,
            twinkle_speed: 0.6,
            softness: 0.6,
            mag_spread: 0.5,
        ), (
            weight: 0.6,
            temp_min: 7500.0,
            temp_max: 10000.0,
            brightness: 2.2,
            size: 1.7,
            tint: (1.0, 1.0, 1.0),
            clustering: 0.5,
            twinkle: 0.25,
            twinkle_speed: 0.8,
            softness: 0.8,
            mag_spread: 0.6,
        ), (
            weight: 0.13,
            temp_min: 10000.0,
            temp_max: 30000.0,
            brightness: 3.5,
            size: 2.2,
            tint: (0.85, 0.9, 1.0),
            clustering: 0.8,
            twinkle: 0.3,
            twinkle_speed: 1.0,
            softness: 1.0,
            mag_spread: 0.7,
        ), (
            weight: 0.02,
            temp_min: 30000.0,
            temp_max: 45000.0,
            brightness: 6.0,
            size: 2.8,
            tint: (0.85, 0.8, 1.0),
            clustering: 1.0,
            twinkle: 0.4,
            twinkle_speed: 1.2,
            softness: 1.2,
            mag_spread: 0.8,
        )),
    ),
)