(
    id: (5),
    name: "Baso Fighter 1",
    class: Fighter,
    role: Interceptor,
    grid_dims: (3, 4),
    cells: [
        (
            coord: (1, 1),
            section: (10000),
            structural: false,
            shape: Full,
        ),
        (
            coord: (1, 2),
            section: (10000),
            structural: false,
            shape: Full,
        ),
        (
            coord: (1, 0),
            section: (10000),
            structural: false,
            shape: Full,
        ),
        (
            coord: (1, 3),
            section: (10000),
            structural: true,
            shape: PointN,
        ),
        (
            coord: (2, 1),
            section: (10000),
            structural: true,
            shape: SlopeNEV,
        ),
        (
            coord: (0, 1),
            section: (10000),
            structural: true,
            shape: SlopeNWV,
        ),
        (
            coord: (2, 2),
            section: (10000),
            structural: true,
            shape: QuarterSW,
        ),
        (
            coord: (0, 2),
            section: (10000),
            structural: true,
            shape: QuarterSE,
        ),
    ],
    power_capacity: 10.0,
    cpu_capacity: 8.0,
    mass_capacity: 36.0,
    hull_base_mass: 8.0,
    slots: [
        (
            id: (0),
            slot_type: Thruster,
            size: Small,
            coord: (1, 0),
            facing: 0.0,
            is_weapon_mount: true,
        ),
        (
            id: (1),
            slot_type: Reactor,
            size: Small,
            coord: (1, 1),
            facing: 0.0,
            is_weapon_mount: true,
        ),
        (
            id: (2),
            slot_type: Shield,
            size: Small,
            coord: (1, 2),
            facing: 0.0,
            is_weapon_mount: true,
        ),
    ],
)